* {
    margin: 0px;
}

/* global styles */

.global {
    font-family: 'Mulish', sans-serif;
    padding: 52px 135px;
}

a {
    text-decoration: none;
    color: #424247;
}

.title_style {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.paragraph_style1 {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.paragraph_style2 {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}

.primary_button {
    background: #FF5400;
    border-radius: 8px;
    padding: 15px 0px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    width: 174px;
}

/* <-----header styles-----> */

/* navigation section */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_title h2 {
    margin-left: 10px;
}

.nav_span {
    color: #FF5400;
}

.anchors {
    display: flex;
    justify-content: space-between;
}

.anchors li {
    padding-left: 44px;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
}

.anc_home {
    color: #FF5400;
    font-weight: 700;
}

.menu {
    display: none;
}

/* banner section */

.banner {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0) 100%), url('../Images/banner.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 530px;
    background-size: cover;
    border-radius: 16px;
    margin-top: 50px;
}

.banner-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-top h1 {
    color: white;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-top p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
    max-width: 676px;
    text-align:center;
}

.banner_query {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: rgba(255, 255, 255, 0.461);
    padding: 10px;
    width: 770px;
    border-radius: 8px;
}

.banner_query_sec {
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    padding-left: 15px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

.banner_query button {
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background-color: #FF5400;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    gap: 5px;
}

/* main section */

/* our popular tours section */

.popular_tours {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.popular_tours_left p {
    margin: 24px 0px;
}

.popular_tours_left ul {
    padding-left: 20px;
}

.popular_tours_left li {
    margin: 16px 0px;
}

/* choose your destination section */

.choose_destination_title {
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose_destination_title p {
    width: 645px;
    margin-bottom: 48px;
}

.image_row img {
    width: 100%;
    height: 100%;
}

.image_row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    height: 300px;
    position: relative;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.maldives {
    position: absolute;
    left: 20%;
    top: 44.5%;
}

.indonesia {
    position: absolute;
    left: 71%;
    top: 44.5%;
}

.srilanka {
    position: absolute;
    left: 10%;
    top: 44.5%;
}

.north_america {
    position: absolute;
    left: 44.5%;
    top: 44.5%;
}

.kashmir {
    position: absolute;
    left: 82%;
    top: 44.5%;
}

.bangladesh {
    position: absolute;
    left: 13%;
    top: 44.5%;
}

.bandarban {
    position: absolute;
    left: 64%;
    top: 44.5%;
}

/* why choose us section */

.why_us{
    text-align: center;
    margin-top: 100px;
}
.why_us > p{
    width: 65%;
    padding-left: 200px;
}
.why_us_cardss{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    gap: 24px;
    margin-top: 48px;
}
.why_us_card{
    width: 545px;
    background: rgba(251, 181, 99, 0.2);
    padding: 32px;
    border-radius: 16px;
}
.why_us_card img{
    padding-bottom: 32px;
}
.why_us_card h3{
    margin-bottom: 16px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.card_diff{
    background: rgba(41, 206, 246, 0.2)
}

/* deals and discount section */

.deals_and_discount{
    margin-top: 100px;
}
.deals_and_discount_title{
    text-align: center;
}
.deals_and_discount_title p{
    text-align: center;
    width: 800px;
    padding-left: 250px;
}
.deals_and_discount_panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards_background{
    width: 100%;
    height: 500px;
    border-radius: 16px;
    margin-top: 24px;
}
.deals_and_discount_cards1{
    background: url('../Images/Group 39.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    align-items: center;
}
.deals_and_discount_cards2{
    background: url('../Images/Group 40.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: start;
    align-items: center;
}
.deals_and_discount_cards3{
    background: url('../Images/Group 39.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 50px;
}
.cards{
    background: rgba(255, 255, 255, 0.8);
    width: 480px;
    height: 290px;
    padding: 50px;
    border-radius: 8px;
    margin-right: 55px;
    margin-left: 55px;
}
.cards h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}
.cards h4{
    margin-top: 16px;
    margin-bottom: 24px;
    color: #FF5400;
    font-size: 20px;
    font-family: Mulish;
    font-weight: 800;
}
.cards_image{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.cards_image p{
    margin-right: 24px;
    margin-left: 5px;
}

/* simple perfect place section */

.simple_perfect_place{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.simple_left h2{
    margin-top: 10px;
    margin-bottom: 2px;
}
.simple_left ul{
    font-weight: 700;
    margin: 24px 24px 24px 0px;
}
.simple_left ul>li{
    margin-bottom: 16px;
}
.simple_image{
    width: 100%;
    position: relative;
}
.simple_image video{
    width: 100%;
    border-radius: 16px;
}
.simple_image h3{
    position: absolute;
    top: 40%;
    left: 30%;
    text-align: center;
    color: white;
    font-size: 30px;
}

/* comment section <--> extra section */

.comment_section{
    margin-top: 100px;
}
.comment_section h1{
    margin-top: 100px;
    text-align: center;
}
.comment_panel{
    margin-top: 30px;
    height: 900px;
    background-image: linear-gradient(135deg, #e4f2f2 0%, #ffeddc 100%);
    border-radius: 16px;
    padding: 50px;
    position: relative;
}
.second_line{
    border: #FF5400 1px solid;
    width: 445px;
    border-radius: 10px;
}
.comm{
    border: 1px solid #FF5400;
    width: 450px;
    border-radius: 10px;
    position: absolute;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.comments1{
    left: 10%;
}
.comments2{
    left: 53%;
    top: 20%;
}
.comments3{
    left: 10%;
    top: 50%;
}
.comments4{
    left: 53%;
    top: 63%;
}
.comment_button{
    position: absolute;
    left: 43%;
    top: 90%
}
.commentors{
    display: flex;
    align-items: center;
    padding: 30px;
}
.commentors > img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.rating{
    margin-left: 20px;
    display: flex;
    flex-direction:column;
    justify-content: start;
}
.rating h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.comment_text{
    padding: 0px 30px 30px 30px;
    text-align: justify;
}

/* newsletter section */

.newsletter{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 50px;
    gap: 30px;
}
.newsletter_texts{
    border: 1px solid #ff5400;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.newsletter_texts h3{
    margin-bottom: 16px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.newsletter_texts p{
    margin-bottom: 24px;
}
hr{
    margin-bottom: 24px;
    opacity: 0.5;
}
.newsletter_texts input{
    height: 52px;
    margin-bottom: 16px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding-left: 20px;
    border: none;
}
.newsletter_texts button{
    width: 100%;
}
.newsletter_image{
    position: relative;
}
.newsletter_image_text{
    width: fit-content;
    background: #FF5400;
    text-align: center;
    color: white;
    position: absolute;
    padding: 20px;
    transform: rotate(-25deg);
    border-radius: 16px;
    top: 58%;
    left: 51%;
}
.newsletter_image_text h2{
    font-size: 32px;
    font-weight: 800;
}
.newsletter_image_text h4{
    font-size: 24px;
    font-weight: 400;
}

/* footer section */

.footer{
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 110px;
    font-family: 'Mulish', sans-serif;
}
.footer hr{
    opacity: 1;
    background-color: #FF5400;
    width: 875px;
}
.footer_extra{
    margin-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer_extra p{
    width: 770px;
}
.footer_extra img{
    margin-top: 32px;
    width: 175px;
    margin-bottom: 32px;
    
}
.copyright{
    color: #131318;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}






/* responsive for small devices */

@media screen and (max-width: 600px) {
    .global {
        padding: 44px 20px;
    }

    .title_style {
        font-size: 20px;
    }

    .paragraph_style1 {
        font-size: 14px;
        margin-top: 16px;
    }

    .paragraph_style2 {
        font-size: 14px;
        margin-top: 16px;
    }

    .primary_button {
        text-align: center;
    }

    /* header styles */

    .nav_title {
        font-size: 22px;
    }

    .nav_hidden {
        display: none;
    }

    .menu {
        display: flex;
        /* menu icon show code */
    }

    /* banner style */

    .banner {
        background-position: center;
        margin-top: 20px;
    }

    .banner-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner-top h1 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .banner-top p {
        font-size: 14px;
        margin-bottom: 32px;
        width: fit-content;
        text-align: center;
    }

    .banner_query {
        display: grid;
        grid-template-columns: 1fr;
        width: fit-content;
    }

    .banner_query_sec {
        width: 255px;
    }

    .banner_query select{
        width: 272px;
    }

    .banner_query button {
        width: 272px;
    }


    /* main section */

    /* popular tours section */

    .popular_tours {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 30px;
    }

    .popular_tours_right img {
        width: 100%;
    }

    /* choose your destination */

    .choose_destination_title {
        text-align: center;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .choose_destination_title p {
        width: auto;
        margin-bottom: 16px;
        margin-top: 16px;
    }

    .image_row img {
        height: 176px;
    }

    .image_row {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
        height: auto;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
    }
    .maldives {
        left: 35%;
        top: 18%;
    }
    .indonesia {
        left: 35%;
        top: 70%;
    }
    .srilanka {
        left: 35%;
        top: 13%;
    }
    .north_america {
        left: 25%;
        top: 47%;
    }
    .kashmir {
        left: 34%;
        top: 81%;
    }
    .bangladesh {
        left: 30%;
        top: 20%;
    }
    .bandarban {
        left: 30%;
        top: 72%;
    }

    /* why choose us section */

    .why_us{
        margin-top: 25px;
    }
    .why_us > p{
        width: auto;
        padding-left: 0;
    }
    .why_us_cardss{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: left;
        gap: 16px;
        margin-top: 32px;
    }
    .why_us_card{
        width: 355px;
        padding: 32px;
    }
    .why_us_card h3{
        margin-bottom: 16px;
        color: #131318;
        font-size: 20px;
        font-weight: 800;
    }
    .why_us_card img{
        padding: 16px;
    }

    /* deals and discount */

    .deals_and_discount{
        margin-top: 50px;
    }
    .cards{
        background: rgba(255, 255, 255, 0.8);
        width: 275px;
        height: 300px;
        padding: 25px;
        border-radius: 8px;
        margin-right: 16px;
        margin-left: 16px;
        margin-bottom: 16px;
    }
    .cards_icons{
        display: flex;
    }
    .cards_image{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        margin-bottom: 18px;
    }
    .cards h3{
        color: #131318;
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 8px;
    }
    .cards h4{
        margin-top: 12px;
        margin-bottom: 16px;
        color: #FF5400;
        font-size: 16px;
        font-family: Mulish;
        font-weight: 800;
    }
    .cards_image p{
        margin-right: 20px;
        margin-left: 5px;
    }


    .deals_and_discount_cards1{
        justify-content: center;
        align-items: last baseline;
    }
    .deals_and_discount_cards2{
        justify-content: center;
        align-items: last baseline;
    }
    .deals_and_discount_cards3{
        justify-content: center;
        align-items: last baseline;
        margin-bottom: 50px;
    }
    .deals_and_discount_title p{
        width: auto;
        padding-left: 0px;
    }

    /* simple perfect place section */

.simple_perfect_place{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}
.simple_image h3{
    top: 30%;
    left: 22%;
    font-size: 20px;
}

    /* comment section */

    .comment_section{
        margin-top: 50px;
    }
    .comment_section h1{
        margin-top: 30px;
        text-align: center;
    }
    .comment_panel{
        margin-top: 20px;
        height: auto;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 20px;
    }
    .second_line{
        border: none;
        width: fit-content;
    }
   .comm{
        width: fit-content;
    }
    .comments1{
        left: 0;
        position: relative;
    }
    .comments2{
        left: 0;
        top: 0;
        position: relative;
    }
    .comments3{
        left: 0;
        top: 0;
        position: relative;
    }
    .comments4{
        left: 0;
        top: 0;
        position: relative;
    }
    .comment_button{
        position: relative;
        left: 0;
        top: 0;
    }

    /* newsletter section */

    .newsletter{
        flex-direction: column;
        gap: 24px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .newsletter_texts{
        padding: 20px;
    }
    .newsletter_texts h3{
        margin-bottom: 5px;
        font-size: 20px;
    }
    .newsletter_texts p{
        margin-bottom: 16px;
        width: 270px;
    }
    hr{
        margin-bottom: 16px;
    }
    .newsletter_image img{
        width: 100%;
    }
    .newsletter_image_text{
        width: max-content;
        padding: 10px;
        border-radius: 10px;
        top: 51%;
        left: 41%;
    }
    .newsletter_image_text h2{
        font-size: 21px;
    }
    .newsletter_image_text h4{
        font-size: 16px;
    }

    /* footer design */

    .footer{
        padding: 35px;
    }
    .footer_extra p{
        width: 290px;
    }
    .footer hr{
        opacity: 0.8;
        width: 335px;
        background-color: #5A5A5D;
    }
    
}







@media screen and (min-width:992px) and (max-width: 1040px) {
    .banner_query {
        gap: 10px;
        background-color: rgba(255, 255, 255, 0.461);
        padding: 10px;
        width: auto;
    }
    .banner_query_sec {
        width: 165px;
        height: 45px;
        font-size: 14px;
    }
    
    .banner_query button {
        width: 165px;
        font-size: 14px;
        height: 45px;
    }
}






/* for large devices */

@media screen and (min-width:992px) and (max-width: 1200px) {
    .nav_title {
        font-size: 25px;
    }
    .anchors li {
        padding-left: 30px;
        font-size: 16px;
    }
    .popular_tours {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }
    .image_row img {
        width: 100%;
        height: 400px;
    }
    
    .image_row {
        flex-direction: column;
        height: auto;
    }
    .image_row h2{
        font-size: 45px;
    }
    .maldives {
        left: 38%;
        top: 20%;
    }
    .indonesia {
        left: 40%;
        top: 73%;
    }
    
    .srilanka {
        left: 40%;
        top: 14%;
    }
    
    .north_america {
        left: 32%;
        top: 48%;
    }
    
    .kashmir {
        left: 42%;
        top: 82%;
    }
    
    .bangladesh {
        left: 35%;
        top: 22%;
    }
    
    .bandarban {
        left: 38%;
        top: 73%;
    }
    .simple_perfect_place{
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 40px;
    }
    .simple_image h3{
        top: 45%;
        left: 35%;
        font-size: 20px;
    }
    .comment_panel{
        height: auto;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .second_line{
        width: 700px;
    }
    .why_us > p {
        padding-left: 125px;
    }
    .deals_and_discount_title p{
        width: auto;
        padding-left: 0px;
    }
    .comm{
        border: 1px solid #FF5400;
        width: 700px;
        border-radius: 10px;
        position: absolute;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
    }
    .comments1{
        left: 0;
        position: relative;
    }
    .comments2{
        left: 0;
        top: 0;
        position: relative;
    }
    .comments3{
        left: 0;
        top: 0;
        position: relative;
    }
    .comments4{
        left: 0;
        top: 0;
        position: relative;
    }
    .comment_button{
        position: relative;
        left: 0;
        top: 0;
    }
    .newsletter_texts{
        max-width: 600px;
    }
    .newsletter{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .newsletter_image img{
        width: 100%;
    }
}

@media screen and (min-width:1200px) and (max-width: 1400px) {
    .nav_title {
        font-size: 25px;
    }
    .anchors li {
        padding-left: 30px;
        font-size: 16px;
    }
    .popular_tours {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
    .simple_perfect_place{
        /* flex-direction: column; */
        align-items: center;
        gap: 50px;
    }
    .simple_image h3{
        top: 38%;
        left: 25%;
    }
    .comment_panel{
        height: 1000px;
    }
    .second_line{
        width: 350px;
    }
    .comm{
        width: 350px;
    }
    .comments1{
        left: 10%;
    }
    .comments2{
        left: 53%;
        top: 20%;
    }
    .comments3{
        left: 10%;
        top: 50%;
    }
    .comments4{
        left: 53%;
        top: 63%;
    }
    .comment_button{
        position: absolute;
        left: 43%;
        top: 90%;
        margin-top: 30px;
    }
    .newsletter{
        align-items: center;
    }
    .newsletter_image img{
        width: 100%;
    }
    .newsletter_image_text{
        width: fit-content;
        position: absolute;
        padding: 15px;
        top: 56%;
        left: 48%;
    }
    .newsletter_image_text h2{
        font-size: 28px;
    }
    .newsletter_image_text h4{
        font-size: 20px;
    }
    .deals_and_discount_title p{
        width: 800px;
        padding-left: 125px;
    }
}
@media screen and (min-width:1200px) and (max-width: 1500px) {
    .image_row img {
        width: 48.5%;
        height: 300px;
    }
    
    .image_row {
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
    }
    .image_row h2{
        font-size: 45px;
    }
    .srilanka {
        left: 17%;
        top: 17%;
    }
    .north_america {
        left: 63%;
        top: 18%;
    }
    .kashmir {
        left: 43%;
        top: 72%;
    }
}